/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
    -fx-background-color: linear-gradient(to bottom, black, white);
}



.label{
	-fx-text-fill: white;
}

.button{
	-fx-background-color: white;
	-fx-background-radius: 100;
}
.button:hover {
    -fx-background-color: gray;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 2);
    -fx-border-width: 2px;
    -fx-border-color: violet;
    -fx-border-radius: 100;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
 
}

.table-view .column-header .label {
    -fx-text-fill: violet;
    -fx-font-style: italic ;
    -fx-font-size: 14px;
}